# Python virtual environments
.venv/
env/
venv/

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Editor directories and files
.vscode/
.idea/
.DS_Store
